<footer class="bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Liên hệ</h4>
        <p><i class="fas fa-map-marker-alt"></i> Địa chỉ: 123 Đường ABC, Quận XYZ, TP HCM</p>
        <p><i class="fas fa-phone"></i> Điện thoại: 0123456789</p>
        <p><i class="fas fa-envelope"></i> Email: info@education.com</p>
      </div>
      <div class="col-md-6">
        <h4>Liên kết</h4>
        <ul class="list-unstyled">
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/courses">Khóa học</a></li>
          <li><a href="/news">Bài viết</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 education. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>