<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Courses</a>
    <a class="navbar-brand" href="/news">Posts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img
              src="https://scontent.fhan3-4.fna.fbcdn.net/v/t39.30808-1/327178803_713601456888786_74248329407010699_n.jpg?stp=c124.0.160.160a_dst-jpg_p160x160&_nc_cat=106&ccb=1-7&_nc_sid=7206a8&_nc_ohc=oFlVUmRt_O0AX-ep4mt&tn=cCL2zqN9oIfOOYWr&_nc_ht=scontent.fhan3-4.fna&oh=00_AfCXXPEzyhqwe2zk2RUrqlBBOBe0Q7P5hxakwErbNxTIKQ&oe=63EA818A"
              style="height:20px;" alt="" class="user-avatar">
            Võ Văn Thành Tỷ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>